.about {
    margin-top: 100vh;
    height: 100vh;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(113, 82, 62, .4);
    font-size: 2rem;
    .spacer {
        width: 80%;
        border: 1px solid black;    
    }
}