.about {
    margin-top: 100vh;
    height: 100vh;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(113, 82, 62);
    font-size: 2rem;
    .spacer {
        width: 80%;
        border: 1px solid black;    
    }
}