$action-button-color: rgba(232, 110, 45, 0.783);
// $nav-hover: rgba(143, 193, 94, 0.358);
$nav-bg: rgba(113, 82, 62, 0.577);
$nav-hover: lighten($nav-bg, 20%);
$nav-hover-bottom-border: darken($nav-bg, 10%);
$bottom-border-thickness: 2px;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
    font-size: $radius;
  }

@mixin accent-shadow($original){
    box-shadow: (-5px 5px lighten($original, 10%));
}

#order-now-button {
    background-color: $action-button-color;
    @include border-radius(1rem);
    @include accent-shadow($action-button-color);
}


.nav {
    position: absolute;
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: $nav-bg;
    li, a, a:visited {
        list-style-type: none;
        font-size: 1.6rem;
        border-bottom: $bottom-border-thickness solid $nav-bg;
        padding: 1rem 1rem 1rem 1rem;
        list-style-type: none;
        text-decoration: none;
        color: #fff;
        text-align: center;
    };
    li:hover {
        background-color: $nav-hover;
    }
    li#order-now-button:hover {
        background-color: $nav-bg;
    }
}