$action-button-color: rgb(232, 110, 45);
$nav-bg: rgba(113, 82, 62, 0.577);
$nav-hover: lighten($nav-bg, 20%);
$nav-hover-bottom-border: darken($nav-bg, 10%);
$bottom-border-thickness: .2rem;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
    font-size: $radius;
  }

@mixin accent-shadow($original){
    box-shadow: (-.18rem .2rem lighten($original, 10%));
}

#order-now-button {
    margin-left: 1rem;
    background-color: $action-button-color;
    margin-bottom: .4rem;
    border-bottom: 0; 
    @include border-radius(.7rem);
    @include accent-shadow($action-button-color);
}

nav {
    position: fixed;
    width: 100vw;
    // box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 0vh;
    justify-content: center;
    background-color: $nav-bg;
    border-bottom: $bottom-border-thickness solid $nav-bg;
    ul {
        font-weight: 300;
    };
    li, a, a:visited {
        list-style-type: none;
        font-size: 1.6rem;
        padding: .1rem 1rem .1rem 1rem;
        list-style-type: none;
        text-decoration: none;
        color: #fff;
        text-align: center;
    };
    li:hover {
        background-color: $nav-hover;
        animation-name: nav-link-hover;
        animation-duration: 1s;
        border-top: .2rem solid lighten($action-button-color, 30%);
    };
    li#order-now-button {
        font-weight: 450;
        border-top: .2rem solid transparent;
    };
    li#order-now-button:hover {
        background-color: lighten($action-button-color, 2%);
    };
    li#order-now-button:active {
        transform: translate(-.18rem, .2rem);
        background-color: darken($action-button-color, 10%);
        box-shadow: (-.001rem .001rem darken($nav-bg, 10%));
    };
};
