$action-button-color: rgba(232, 110, 45, 0.783);
$nav-bg: rgba(113, 82, 62, 0.995);

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
    font-size: $radius;
  }

@mixin accent-shadow($original){
    box-shadow: (-5px 5px lighten($original, 10%));
}

@mixin hover-effects($original){
    background-color: linear-gradient($original, lighten($original, 90%));
    font-weight: 200;
}

#order-now-button {
    background-color: $action-button-color;
    padding: 1vw;
    @include border-radius(2rem);
    @include accent-shadow($action-button-color);
}

.nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $nav-bg;
    div {
        font-size: 1.6rem;
        color: #fff;
        padding: 1vw;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        a {
            text-decoration: none;
            color: #fff;
        }
        a:hover {
            @include hover-effects($action-button-color);
        }
    }
}