#order-now-button {
    background-color: rgba(232, 110, 45, 0.783);
    padding: 1vw;
    border-radius: 2rem;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: rgba(113, 82, 62, 0.345)
}

.nav div {
    font-size: 1.6rem;
    color: #fff;
    padding: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.nav div a {
    text-decoration: none;
    color: #fff;
}

.nav div a:hover {
    text-decoration: underline;
}